---
import Layout from '../layouts/Layout.astro';

const response = await fetch(`${import.meta.env.API_ADDRESS}/customer/${import.meta.env.CUSTOMER_ID}/qualification/all`);
const qualifications = await response.json();

const qualificationsToShow = []
qualifications.map(qualification => {
    if (qualification.academicDegree !== null) {
        qualificationsToShow.push(qualification)
    }
});
---

<Layout title="Academic degrees">
    <nav aria-label="breadcrumb">
        <ul>
            <li><a href="/">Home</a></li>
            <li>Academic degrees</li>
        </ul>
    </nav>
    <h1 class="title">Academic degrees</h1>

    <div class="grid">
    {qualificationsToShow.map(qualification =>
            <article key={qualification.id}>
                <header><h3 class="card-title">{qualification.academicDegree}</h3></header>
                <div><h2>{qualification.speciality}</h2></div>
                <h3>"{qualification.educationalInstitution.name}"</h3>
                {qualification.faculty !== null &&
                        <div><h4>{qualification.faculty} faculty</h4></div>
                }
                {qualification.department !== null &&
                        <div>{qualification.department}</div>
                }
                <footer  dir="rtl">
                    <div>Started working in {qualification.startedStudying}</div>
                    {qualification.finishedWork !== null &&
                            <div>Finished working in {qualification.finishedStudying}</div>
                    }
                </footer>
            </article>
    )
    }
        </div>
</Layout>
