---
import Layout from "../layouts/Layout.astro";

const response = await fetch(
	`${import.meta.env.API_ADDRESS}/customer/${import.meta.env.CUSTOMER_ID}`
);
const customer = await response.json();
---

<Layout title="Contact info">
	<nav aria-label="breadcrumb">
		<ul>
			<li><a href="/">Home</a></li>
			<li>Contact info</li>
		</ul>
	</nav>

	<h1 class="title">Contact info</h1>
	<article>
		<div>{customer.firstName} {customer.lastName}</div>
		<div>
			☎️ {customer.phoneNumber}
		</div>
		<div>✉️ {customer.email}</div>
		<div><a>{customer.website}</a></div>
		<div>🌍 {customer.residence}</div>
	</article>
</Layout>
